<div class="main-area">
  <div class="queryBox">
    <h1 class="margined-text">Tell us some things about you</h1>
    <form action="/showTeam" method="get">
      <select name="league">
        <option value="nbaTeams">NBA</option>
        <option value="superRugbyTeams">Super Rugby</option>
      </select>
      <select name="Colour" label="Favourite Colour">
        <option value="black">black</option>
        <option value="blue">blue</option>
        <option value="red">red</option>
        <option value="yellow">yellow</option>
        <option value="maroon">maroon</option>
        <option value="white">white</option>
      </select>
      <input type="submit" value="Submit"></input>
    </form>
  </div>
  <div class="resultBox">
    <h2 class="margined-text">{{teamName}}</h2>
    <h3 class="margined-text">{{location}}</h3>
    <p>This team's primary colour is {{primaryColour}} and its secondary colour is {{secondaryColour}}</p>
    <img src="http://i.cdn.turner.com/nba/nba/teamsites/images/legacy/celtics/CelticsLogo_History.gif">
    <h3>{{teamName}} fans synthesized: {{views}}</h3>
  </div>
</div>
