<div class="container main">
  <div class="halfBox">
    <h2>Pick Some Things...</h2>
    <form action="/showTeam" method="get">
      <select name="league">
        <option selected disabled>Choose a League</option>
        <option value="nbaTeams">NBA</option>
        <option value="superRugbyTeams">Super Rugby</option>
      </select>
      <select name="Colour" label="Favourite Colour">
        <option selected disabled>Choose a Colour</option>
        <option value="black">black</option>
      </select>
      <select name="location" label="Find your nearest team?">
        <option selected disabled>Find your nearest team?</option>
        <option value="yes">yes</option>
        <option value="no">no</option>
      </select>
      <input id="submit" type="submit" value="Let's Go!"></input>
    </form>
  </div>
  <div class="halfBox">
    <h2 class="margined-text">{{teamName}}</h2>
    <img src="{{imageURL}}">
    <h3>{{teamName}} fans synthesized: {{views}}</h3>
  </div>
</div>
<div class="container">
  <div class="fullBox save">
    <form action='/users' method='post'>
      <input type='text' name='teamID' value='{{id}}'>
      <input type='submit' value='Submit'>
        <h3> Save this team</h3>
      </select>
    </form>
  </div>
</div>
<div class="container">
  <div class="fullBox viewsBox">
    <h3> Total fans synthesized in this leage: {{totalViews}}</h3>
  </div>
</div>
<div class="container">
  <div class="fullBox mapShow" id="showMapButton">
    <h3> Show map</h3>
  </div>
</div>
<div class="container hidden" id="map">
  <div class="fullBox map-responsive">
    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCTqTol11Eye3Qp52o4jJbhdfxcoxRXetg
    &q={{location}}&zoom=6" width="920" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
